:root {
    --pb-docking-main-color: var(--rz-primary);
    --pb-docking-main-color-dim: var(--rz-primary-darker);
    --pb-docking-float-unfocused-color: var(--rz-primary);
    --pb-docking-layout-color: var(--rz-primary);
    --pb-docking-float-secondary-color: var(--rz-primary-light);
    --pb-docking-background-color: var(--rz-base-background-color);
    --pb-docking-title-color: var(--rz-on-primary);
    --pb-docking-controls-color: var(--rz-on-primary);
    --pb-docking-controls-background: rgba(0,0,0,0);
    --pb-docking-controls-background-hover: rgba(0,0,0,.25);
    --pb-docking-float-close-control-background: var(--rz-danger-dark);
    --pb-docking-compass-color: var(--rz-text-color);
    --pb-docking-compass-shadow-color: rgba(0, 0, 0, 0.4);
    --pb-docking-compass-fill-opacity: 0.075;
}

.pb-dock-panel-container {
    width: 100%;
    height: 100%;
    background-color: var(--pb-docking-background-color);
}

.pb-dock-panel-host {
    --pb-custom-window-controls-background: var(--pb-docking-controls-background);
    --pb-custom-window-controls-background-hover: var(--pb-docking-controls-background-hover);
}

.pb-dock-panel-float {
    width: 100%;
    height: 100%;
    position: relative;
    border-top: 2px solid var(--pb-docking-float-secondary-color);
}

    .pb-dock-panel-float > * {
        position: absolute;
    }

.pb-dock-panel-float-mosaic {
    background-image: radial-gradient(circle at center, var(--pb-docking-float-secondary-color) 1px, transparent 0),
                      radial-gradient(circle at center, var(--pb-docking-float-secondary-color) 1px, transparent 0);
    background-size: 6px 6px;
    background-position: 2px 2px, 5px 5px;
    height: 16px;
    margin: 4px;
}

.pb-dock-panel-split {
}

.pb-dock-panel-tabs {
    display: flex;
    flex-direction: column;
}

.pb-dock-tabs {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.pb-dock-panel-tab {
    position: relative;
    flex-grow: 1;
}

.pb-dock-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid var(--pb-docking-main-color);
}

.pb-dock-panel-area {
    position: relative;
    flex-grow: 1;
}

    .pb-dock-panel-area > * {
        position: absolute;
    }

.pb-dock-area-preview {
    width: 100%;
    height: 100%;
}

.pb-dock-area-preview-zone {
    position: absolute;
    opacity: 0.4;
    background-color: var(--pb-docking-layout-color);
    transition: 0.15s;
}

.pb-dock-panel-destroy-mask {
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.4;
    background: repeating-linear-gradient(-45deg,
                                          rgb(from var(--pb-docking-layout-color) r g b / 50%),
                                          rgb(from var(--pb-docking-layout-color) r g b / 50%) 10px,
                                          var(--pb-docking-layout-color) 10px,
                                          var(--pb-docking-layout-color) 20px );
    transition: 0.1s;
}

.pb-dock-panel-content {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.pb-dock-panel-header {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    background-color: var(--pb-docking-main-color);
    color: var(--pb-docking-title-color);
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    transition: var(--rz-button-transition);
}

.pb-dock-panel-header-dim {
    background-color: var(--pb-docking-main-color-dim);
}

.pb-dock-panel-header p {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;
}

.pb-dock-area-preview {
    position: absolute;
}

.pb-dock-compass {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    fill: var(--pb-docking-compass-color);
    filter: drop-shadow(0px 0px 20px var(--pb-docking-compass-shadow-color));
}
