@using Photino.Blazor.Docking.Sample.Services

@inject TestService TestService

<div style="background-color: lightgreen; width: 100%; height: 100%; text-align: center">
    <p>Test page 2</p>
    <p>@(TestService.ServiceText)</p>
</div>
