@using Photino.Blazor.Docking.Sample.Services

@inject TestService TestService

<div style="background-color: lightsalmon; width: 100%; height: 100%; text-align: center">
    <p>Test float panel</p>
    <p>@(TestService.ServiceText)</p>
</div>
